<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jesse.dpp.rcp.dao.ResetPasswordDao">
  <resultMap id="BaseResultMap" type="com.jesse.dpp.rcp.po.ResetPassword">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="email_address" jdbcType="VARCHAR" property="emailAddress" />
    <result column="sid" jdbcType="VARCHAR" property="sid" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="creator_id" jdbcType="INTEGER" property="creatorId" />
    <result column="updater_id" jdbcType="INTEGER" property="updaterId" />
    <result column="account_id" jdbcType="INTEGER" property="accountId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.jesse.dpp.rcp.po.ResetPassword">
    <result column="expire_time" jdbcType="LONGVARCHAR" property="expireTime" />
    <result column="create_date" jdbcType="LONGVARCHAR" property="createDate" />
    <result column="update_date" jdbcType="LONGVARCHAR" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, email_address, sid, status, creator_id, updater_id, account_id
  </sql>
  <sql id="Blob_Column_List">
    expire_time, create_date, update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sys_reset_password
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_sys_reset_password
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jesse.dpp.rcp.po.ResetPassword">
    insert into t_sys_reset_password (id, email_address, sid, 
      status, creator_id, updater_id, 
      account_id, expire_time, create_date, 
      update_date)
    values (#{id,jdbcType=INTEGER}, #{emailAddress,jdbcType=VARCHAR}, #{sid,jdbcType=VARCHAR}, 
      #{status,jdbcType=CHAR}, #{creatorId,jdbcType=INTEGER}, #{updaterId,jdbcType=INTEGER}, 
      #{accountId,jdbcType=INTEGER}, #{expireTime,jdbcType=LONGVARCHAR}, #{createDate,jdbcType=LONGVARCHAR}, 
      #{updateDate,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jesse.dpp.rcp.po.ResetPassword">
    insert into t_sys_reset_password
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="emailAddress != null">
        email_address,
      </if>
      <if test="sid != null">
        sid,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="updaterId != null">
        updater_id,
      </if>
      <if test="accountId != null">
        account_id,
      </if>
      <if test="expireTime != null">
        expire_time,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="emailAddress != null">
        #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        #{sid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        #{accountId,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null">
        #{expireTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jesse.dpp.rcp.po.ResetPassword">
    update t_sys_reset_password
    <set>
      <if test="emailAddress != null">
        email_address = #{emailAddress,jdbcType=VARCHAR},
      </if>
      <if test="sid != null">
        sid = #{sid,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=INTEGER},
      </if>
      <if test="updaterId != null">
        updater_id = #{updaterId,jdbcType=INTEGER},
      </if>
      <if test="accountId != null">
        account_id = #{accountId,jdbcType=INTEGER},
      </if>
      <if test="expireTime != null">
        expire_time = #{expireTime,jdbcType=LONGVARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=LONGVARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jesse.dpp.rcp.po.ResetPassword">
    update t_sys_reset_password
    set email_address = #{emailAddress,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      updater_id = #{updaterId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER},
      expire_time = #{expireTime,jdbcType=LONGVARCHAR},
      create_date = #{createDate,jdbcType=LONGVARCHAR},
      update_date = #{updateDate,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jesse.dpp.rcp.po.ResetPassword">
    update t_sys_reset_password
    set email_address = #{emailAddress,jdbcType=VARCHAR},
      sid = #{sid,jdbcType=VARCHAR},
      status = #{status,jdbcType=CHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      updater_id = #{updaterId,jdbcType=INTEGER},
      account_id = #{accountId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
	
	
	
	<!-- 
    /***********************************************************************
    * DON'T Modify the codes above unless you know what you are doing!!!  *
    * Put your own sql beblow.                                            *
    ***********************************************************************/
   -->

  <select id="selectResetPasswordBySid" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sys_reset_password
    where sid = #{sid,jdbcType=VARCHAR}
  </select>
  
  <select id="selectResetPasswordByAccountId" parameterType="java.util.Map" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_sys_reset_password
    where account_id = #{accountId,jdbcType=VARCHAR} and
      status = 'A'
      order by create_date DESC
  </select>

</mapper>